
<header>
  <img src="/assets/cat-burger.jpg" alt="A cat styled looking burger" />
  <h1>Eat-da-burger!</h1>
</header>
<main>
  <div class="burger-list">
    <ul class="devoured-false">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burger/burger-block devoured=false}}
        {{/unless}}
      {{/each}}
    </ul>
    <ul class="devoured-true">
      {{#each burgers}}
        {{#if devoured}}
          {{> burger/burger-block devoured=true}}
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <p>Enter the name of the burger your want to eat!</p>
  <form>
    <textarea></textarea>
    <button>Add burger</button>
  </form>
</main>